.container
{
    display: flex;
    flex-direction: column;
    justify-content: space;
}
.container div
{
    padding:10px;
    border:3px solid skyblue;

}

.box-1
{
    color: skyblue;
    margin: 5px
}

.box-2
{
    text-align: right;
    color: skyblue;
    margin: 5px;
}


.box-3
{
    color:skyblue;
    margin: 5px;
}

img
{
    width: 70px;
    height: 70px;
}

.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}
.rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
}c