*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{font-size: 2.5rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
h1, h2, h3, h4, h5, h6
{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/AtMea9S1TIg3G6JPgAap5dkkUCee5fvliBKbsxf22OW7LZ2gkMsUi7xhjAqKJ_vejD7fdzbaqXTCIS08hp_qAl-3WeHlG1SdRp4YU_XnVAZFAEksd815msPJjEI1eQO0h2ysurA);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1080px;
    position: relative;
    background-size: 100% 100%;
    background-clip: fixed;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: auto;
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    margin-top: 5%;
}
.top_line{
    min-height: 97px;
    box-shadow: rgb(255, 255, 255) 0 0 0 2px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo{
    top: 13px;
    position: absolute;
    left: 45%;
}
.plogo{
    float: right;
    width: 20%;
    margin-top: 0px;
}
.plogo a{
    text-decoration: none;
    color: white;
}
.plogo a:hover{
    text-decoration: none;
    color: gold;
}
.reg_auth{
    float: right;
    width: 20%;
    margin-top: 0px;
}
.reg_auth a{
    color: #ffffff;
}
.btn:hover{
    border-bottom: 2px solid rgb(102, 0, 255);
    margin-top: 7px;
    color: gold;
    transition: all.3s ease;
}
.btn:active{
    border-bottom: 0;
    margin-top: 9px;
    color: gold;
    transition: all.3s ease;
}
.btn{
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #7F00FF;
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgb(102, 0, 255);
    font-family: 'Roboto Slab', serif;
    transition: all.3s ease;
}
.topnav{
    background-color: transparent;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnav a{
    color: gold;
    text-align: center;
    padding: 14px 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all.3s ease;
    margin-top: 150px;
}
.topnav a:hover{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    transition: all.3s ease;
}
.container{
    margin-top: 50px;
    height: auto;
    background-color: rgba(24, 33, 52, 0.7);
    text-align: center;
    box-shadow: 0 -5px 0 #3ADBFD;
    border-radius: 0 0 10px 10px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    margin-bottom: -100px;
}
.incontainer h1, .incontainer h3, .incontainer h2{
    font-family: 'Roboto Slab', serif;
    color: gold;
}
.incontainer p{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.incontainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin: 15px 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    border-collapse: collapse;
}
td th {
    padding: 10px;
}
td {
    background: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
th {
    background: transparent;
    border-bottom: 1px solid #ddd;
    ont-size: 16px;
    font-weight: normal;
    text-align: center;
}
td:hover {
    background-color:#f5f5f5;
    color: #000000;
    transition: all.9s ease;
}
td{
    transition: all.9s ease;
}
.baton{
    width: 200px;
    height: 100px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    transition: all.7s ease;
    color: white;
    text-decoration:none;
    padding: 5px;
    cursor: pointer;
}
.baton:hover{
    border: 1px solid gold;
    color: gold;
    background: rgba(0, 0, 0, 0.45);
    transition: all.7s ease;
}
.baton a:hover{
    text-decoration:none;
}
#navbar {
    top: -130px;
    min-height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}
#navbar a{
    border: 2px solid #FFFFFF;
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 3px;
    transition: all.5s ease;
}
#navbar a:hover{
    transition: all 0.5s ease;
    border: 2px solid gold;
    color: gold;
    padding: 18px;
    background-color: #7F00FF;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50px;
    border-top: 2px solid rgb(58, 219, 253);
    width: 100%;
    background-color: rgba(80, 80, 80, 0.8);
}
.infooter{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 13px;
    background-color: #7F00FF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-track{
    border-radius: 13px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
#r1, #r2{
    margin-right: 5px;
}
.rad{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
.buy {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.buy:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
    transition-duration: 0.5s;
}

.colo{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.del{
    font-family: 'Raleway', sans-serif;
    color: white;
}
#day{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
}
.push{
    height: 100px;
}
footer{
    margin-top: 200px;
}