*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{font-size: 2.5rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
h1, h2, h3, h4, h5, h6
{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/AtMea9S1TIg3G6JPgAap5dkkUCee5fvliBKbsxf22OW7LZ2gkMsUi7xhjAqKJ_vejD7fdzbaqXTCIS08hp_qAl-3WeHlG1SdRp4YU_XnVAZFAEksd815msPJjEI1eQO0h2ysurA);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1080px;
    position: relative;
    background-size: 100% 160%;
    background-clip: fixed;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: auto;
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    margin-top: 5%;
}
.top_line{
    min-height: 97px;
    box-shadow: rgb(255, 255, 255) 0 0 0 2px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo{
    top: 13px;
    position: absolute;
    left: 45%;
}
.reg_auth{
    float: right;
    width: 20%;
    margin-top: 0px;
}
.reg_auth a{
    color: #ffffff;
}
.btn:hover{
    border-bottom: 2px solid rgb(102, 0, 255);
    margin-top: 7px;
    color: gold;
    transition: all.3s ease;
}
.btn:active{
    border-bottom: 0;
    margin-top: 9px;
    color: gold;
    transition: all.3s ease;
}
.btn{
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #7F00FF;
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgb(102, 0, 255);
    font-family: 'Roboto Slab', serif;
    transition: all.3s ease;
}
.topnav{
    background-color: transparent;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnav a{
    color: gold;
    text-align: center;
    padding: 14px 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all.3s ease;
    margin-top: 150px;
}
.topnav a:hover{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    transition: all.3s ease;
}
.container{
    margin-top: 50px;
    height: auto;
    background-color: rgba(24, 33, 52, 0.7);
    text-align: center;
    box-shadow: 0 -5px 0 #3ADBFD;
    border-radius: 0 0 10px 10px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.incontainer h1{
    font-family: 'Roboto Slab', serif;
    color: gold;
}
.incontainer p{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.container1{
    margin-top: 50px;
    width: 80%;
    height: auto;
    text-align: center;
    background-color: rgba(24, 33, 52, 0.7);
    box-shadow: 0 -5px 0 #3ADBFD;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container1 h1{

    font-family: 'Roboto Slab', serif;
    color: gold;
}
.incontainer1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-decoration: none;
}
.incontainer1 a{
    text-decoration: none;
}
.prod h3{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
}
.prod p{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #111;
}
.prod{
    width: 90%;
    min-height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    background: rgba(255, 255, 255, 0.5);
    transition: all.8s ease;
}
.prod:hover{
    border: 3px solid gold;
    transition: all.8s ease;
    text-decoration: none;
}
.prod:active{
    border: 3px solid #7F00FF;
    transition: all.3s ease;
    text-decoration: none;
}
.drpt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
table {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color:#f5f5f5;
    color: #000000;
    transition: all.9s ease;
}
tr{
    transition: all.9s ease;
}
#navbar {
    top: -130px;
    min-height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}
#navbar a{
    border: 2px solid #FFFFFF;
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 3px;
    transition: all.5s ease;
}
#navbar a:hover{
    transition: all 0.5s ease;
    border: 2px solid gold;
    color: gold;
    padding: 18px;
    background-color: #7F00FF;
}
.our{
    margin-top: 50px;
    min-height: 60px;
    box-shadow: rgb(58, 219, 253) 2px 0 0 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.inour{
    color: gold;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.carousel{
    margin-top: -24px;
    min-height: 400px;
}
.carousel img {
    width: 100%;
    margin-top: 27px;
}

.push{
    height: 100px;
}
main{
    min-height: 100%;
    margin-bottom: -100px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50px;
    border-top: 2px solid rgb(58, 219, 253);
    width: 100%;
    background-color: rgba(80, 80, 80, 0.8);
    margin-top: 200px;
}
.infooter{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 13px;
    background-color: #7F00FF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-track{
    border-radius: 13px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

dl{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin-left: 5%;
    margin-top: 2%;
    text-align: left;
}
#butZ, #butZ1 {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
}

#butZ:hover, #butZ1:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
    transition-duration: 0.5s;
}
#clear {
    display: none;
    clear: both;
    text-align: left;
}
#day{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
}




