*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://lh3.googleusercontent.com/proxy/AtMea9S1TIg3G6JPgAap5dkkUCee5fvliBKbsxf22OW7LZ2gkMsUi7xhjAqKJ_vejD7fdzbaqXTCIS08hp_qAl-3WeHlG1SdRp4YU_XnVAZFAEksd815msPJjEI1eQO0h2ysurA);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: auto;
    position: relative;
    background-size: cover;
    background-clip: fixed;
}
.container{
    width: 450px;
    height: 80%;
    background-color: rgba(52, 24, 18, 0.7);
    margin: 50px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3ADBFD;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    width: 120px;
    height: 120px;
}
input[type="text"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 16px;
    margin-bottom:  25px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.5s;
}
.submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2CA8C6;
    border: none;
    border-bottom: 4px solid #6EE9FD;
    cursor: pointer;
    transition: all 0.5s;
}
.submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.input:hover::before{
    color: #319ebc;
    transition: all 0.5s;
}
.input input:hover{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.55);
    transition: all 0.5s;
}
h1{
    font-family: 'Roboto Slab', serif;
    color: gold;
}