*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{font-size: 2.5rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
h1, h2, h3, h4, h5, h6
{
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/AtMea9S1TIg3G6JPgAap5dkkUCee5fvliBKbsxf22OW7LZ2gkMsUi7xhjAqKJ_vejD7fdzbaqXTCIS08hp_qAl-3WeHlG1SdRp4YU_XnVAZFAEksd815msPJjEI1eQO0h2ysurA);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 1080px;
    position: relative;
    background-size: 100% 100%;
    background-clip: fixed;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: auto;
    font-family: 'Anton', sans-serif;
    color: #FFFFFF;
    margin-top: 5%;
    text-align: center;
}
.top_line{
    min-height: 97px;
    box-shadow: rgb(255, 255, 255) 0 0 0 2px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo{
    top: 13px;
    position: absolute;
    left: 45%;
}
.topnav{

    background-color: transparent;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topnav a{
    color: gold;
    text-align: center;
    padding: 14px 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    margin-top: 150px;
    transition: all.5s ease;
}
.topnav a:hover{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    transition: all.5s ease;
}
.our{
    margin-top: 19.3%;
    min-height: 60px;
    box-shadow: rgb(58, 219, 253) 2px 0 0 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.inour{
    color: gold;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.carousel{
    margin-top: -24px;
    min-height: 400px;
}
.carousel img {
    width: 100%;
    margin-top: 27px;
}

.mis{
    margin-top: 0.3%;
    min-height: 60px;
    box-shadow: rgb(58, 219, 253) 2px 0 0 2px;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.reg_auth{
    float: right;
    width: 20%;
    margin-top: 0px;
}
.reg_auth a{
    color: #ffffff;
}
.btn:hover{
    border-bottom: 2px solid rgb(102, 0, 255);
    margin-top: 7px;
    color: gold;
    transition: all.3s ease;
}
.btn:active{
    border-bottom: 0;
    margin-top: 9px;
    color: gold;
    transition: all.3s ease;
}
.btn{
    float: right;
    margin-right: 3%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 9px;
    font-size: 1.2em;
    background-color: #7F00FF;
    text-shadow: #454545 0 0 2px;
    border-bottom: 4px solid rgb(102, 0, 255);
    font-family: 'Roboto Slab', serif;
    transition: all.3s ease;
}
footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50px;
    border-top: 2px solid rgb(58, 219, 253);
    width: 100%;
    background-color: rgba(80, 80, 80, 0.8);
    position: absolute; bottom: 0px;
}
.infooter{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 13px;
    background-color: #7F00FF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-track{
    border-radius: 13px;
    background-color: #FFFFFF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
#navbar {
    top: -130px;
    min-height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}
#navbar a{
    border: 2px solid #FFFFFF;
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 3px;
    transition: all.5s ease;
}
#navbar a:hover{
    transition: all.5s ease;
    border: 2px solid gold;
    color: gold;
    padding: 18px;
    background-color: #7F00FF;
}
.body{
    width: 100%;
    min-height: 500px;
    padding: 10px 30px;
    background-color: transparent;
}
.rounded {
    counter-reset: li;
    list-style: none;
    font: 20px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-family: 'Raleway', sans-serif;
}
.rounded span {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #000000;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}
.rounded span:hover {
    background: #E9E4E0;
}
.rounded span:hover:before {
    transform: rotate(360deg);
}
.rounded span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
#day{
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 10px;
}