* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/AtMea9S1TIg3G6JPgAap5dkkUCee5fvliBKbsxf22OW7LZ2gkMsUi7xhjAqKJ_vejD7fdzbaqXTCIS08hp_qAl-3WeHlG1SdRp4YU_XnVAZFAEksd815msPJjEI1eQO0h2ysurA);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-size: 100% 100%;
    line-height: 1.5;
    background-attachment: fixed;
}
main{
    display: flex;
    flex-direction: row;
}
.leftside{
    width: 20vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cbalance{
    display:flex;
    flex-direction: row;
}
#checkt{
    display: none;
}
.operators{
    display: flex;
    justify-content: center;
}
.operator{
    display: flex;
    justify-content: center;
}
.operator img{

}
.operators img{
    display: none;
}
.rightside{
    width: 60vw;
    margin-left: 5vw;
}
.main-rightside{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.main-rightside div{
    width: 33%;
    margin-left: 2vw;
}

.form-container {
    margin-top: 50px;
    height: auto;
    background-color: rgba(24, 33, 52, 0.7);
    box-shadow: 0 -5px 0 #3ADBFD;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    padding-right: 15px;
}
.form-group {
    position: inherit;
}
.incontainer h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: gold;
}
.incontainer p{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
}
#beeline{
    display: none;
}
#tele2{
    display: none;
}
#activ{
    display: none;
}
.submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2CA8C6;
    border: none;
    border-bottom: 4px solid #6EE9FD;
    cursor: pointer;
    transition: all 0.5s;
}
.submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.beeline{
    box-shadow: 0 -5px 0 gold;
}
.tele2{
    box-shadow: 0 -5px 0 #fff;
}
.activ{
    box-shadow: 0 -5px 0 #9F248F;
}

@media only screen and (max-width: 1100px) {
    main{
        flex-direction: column;
    }
    .leftside{
        width: 80vw;
        margin-left: 10vw;
    }
    .rightside{
        width: 80vw;
        margin-left: 10vw;
    }
    .main-rightside{
        flex-direction: column;
    }
    .main-rightside div{
        width: 100%;
        margin-left: 0;
        min-height: auto;
    }
}