body
{
}
#as{
    float: top;
    height:12rem;
    width:100%;
    background-color: lightslategray;
    border: 0;


}
#sa {
    float: middle;
    background-color: white;
    height: 14rem;
    width: 100%;
    border: 0;
}

#asa {float: too;
    background-color: lightslategray;
    height:25rem;
    width:100%;
    border: 0;
}
.border{
    margin:20px;
    border:2px;outset white;
}



.as {
    background-color: white;
    width: 350px;
    height: 90px;
    padding: 70PX;
    float: right;
}

.asa{
    background-color: grey;
    width: 320px;
    height: 90px;
    padding: 70px;
    float: right;

}
.box{
    background-color:white ;
    height: 125px;
    width: 350px;
    float: right;
    margin-top: 25px;
    margin-right: 50px;
}


.boxes{
    background-color: lightslategray;
    height: 175px;
    width: 300px;
    float: right;
    margin-top: 25px;
    margin-right: 50px;


}