.Nurik{
    color: #009900;
    text-align: center;
}
.GGG{
    text-align: center;
}
.Nur{
    width: 30%;
    height:  900px;
    background-color: gainsboro;
    text-align: center;
    margin-left: 500px;
}
.NNN{
    color: #009900;
    text-align: center;
    margin-top: 100px;
}
.AAA{
    margin-top: 60px;
    text-align: center;
}

.DDD{
    text-align: center;
    margin-top: 100px;
}