body {
    font-family: Tangerine, sans-serif;
    height: 595vh;
}
.container {
    height: 70vh;
    background-image: url(https://www.archive.inform.kz/fotoarticles/20180111120042.jpg);
    background-repeat: repeat;
    background-size: 85vw;
    opacity: 1.5;
    z-index: 0;
    padding: 0;
}
.container:after {
    background: rgba(28, 84, 117, 0.8);
    width: 1000px;
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 14vw;
    right: 13.8vw;
    bottom: 30vh;
}
#icon {
    height: 5vh;
    z-index: 2;
}
#name_ofthesite {
    color: white;
    font-size: 3vh;
    font-weight: normal;
}
#influencer_link, #brands_link, #managed_link, #login_link {
    margin-top: 1vh;
    color: white;
    font-weight: bolder;
}
#header_box {
    z-index: 2;
}
#header {
    padding-top: 1vh;
}
.links {
    margin-top: 1vh;
    z-index: 2;
}
#head_text_row {
    margin-top: 12vh;

}
#head_text_box {
    text-align: center;
    z-index: 2;
}
#head_text {
    color: white;
    font-weight: lighter;
    font-size: 7vh;
}
#under_head_text {
    color: white;
    font-weight: normal;
    font-size: 2vh;
}
#under_head_text_box {
    text-align: center;
    padding-top: 2vh;
    z-index: 2;
}
#get_early_access {
    color: white;
    background-color: rgb(36, 157, 61);
    border: 1px solid rgb(36, 157, 61);
    border-radius: 1vh;
    height: 7vh;
    width: 11vw;
}
#get_early_access:hover {
    background-color: darkgreen;
}
#i_am_influencer {
    color: white;
    background: none;
    border: 1px solid white;
    border-radius: 1vh;
    height: 7vh;
    width: 11vw;
}
#i_am_influencer:hover {
    background-color: deepskyblue;
}
#get_early_access_box, #i_am_influencer_box {
    z-index: 2;
}
#primary_button_row {
    padding-top: 3vh;
}
.middle_btn {
    margin-top: 22vh;
}
#btn_row {
    padding-right: 2.5vw;
    position: relative;
}
#instagram, #twitch, #blogs, #facebook, #youtube, #pinterest {
    width: 12vw;
    height: 8vh;
    margin-right: 3vw;
    margin-left: 0;
    padding: 1vh;
    position: relative;
    font-weight: bold;
    border: 1px solid rgb(217, 221, 226);
}
#pinterest  {
    margin-left: 1vw;
}
#pinterest_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#pinterest:hover {
    background-color: deepskyblue;
}
#instagram {
    margin-left: -0.95vw;
}
#instagram_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#instagram:hover {
    background-color: deepskyblue;
}
#twitch {
    margin-left: -0.5vw;
}
#twitch_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#twitch:hover {
    background-color: deepskyblue;
}
#blogs  {
    margin-left: -0.1vw;
}
#blogs_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#blogs:hover {
    background-color: deepskyblue;
}
#youtube {
    margin-left: 0.6vw;
}
#youtube_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#youtube:hover {
    background-color: deepskyblue;
}
#facebook {
    margin-left: 0.1vw;
}
#facebook_logo {
    height: 3vh;
    margin-right: 0.5vw;
}
#facebook:hover {
    background-color: deepskyblue;
}
#why_bloggerwork {
    margin-top: 6vh;
    margin-bottom: 4vh;
    font-weight: normal;
}
#estate_image {
    padding: 0;
    margin-left: -0.5vw;
    width: 20vw;
}
#estate_image:hover {
    opacity: 0.5;
}
#skimen_logo {
    width: 20vw;
    height: 27vh;
    image-rendering: optimizeQuality;
}
#skimen_logo:hover {
    opacity: 0.5;
}
#mountain_river {
    width: 20vw;
    height: 27vh;
}
#mountain_river:hover {
    opacity: 0.5;
}
.label_for_image {
    font-weight: normal;
    margin-top: 2vh;
}
.tick_blue, .tick_brown, .tick_black {
    height: 1.5vh;
    margin-right: 0.5vw;
}
.list {
    font-size: 2vh;
    margin-top: 0.5vh;
}
#learn_more {
    margin-top: 2vh;
}
#learn_more_blue {
    color: rgb(51, 139, 239);
    font-weight: bold;
    margin-right: 0.5vw;
}
#learn_more_brown {
    color: rgb(239, 146, 50);
    font-weight: bold;
    margin-right: 0.5vw;
}
#learn_more_black {
    color: black;
    font-weight: bold;
    margin-right: 0.5vw;
}
#arrow_blue, #arrow_brown, #arrow_black {
    height: 1.5vh;
}
#learn_more_brown_link {
    color: rgb(239, 146, 50);
}
#learn_more_black_link {
    color: black;
}
#middle_line {
    margin-top: 7vh;
    margin-bottom: 7vh;
}
#how_it_works {
    font-weight: normal;
}
#icons_row {
    margin-top: 3vh;
}
#man_with_tick, #compass, #delivery, #graphic {
    height: 8vh;
}
#options_headers {
    margin-top: 2vh;
    font-weight: bold;
    font-size: 2.5vh;
}
#options_description {
    margin-top: 2vh;
}
#middle_image {
    height: 60vh;
    width: 70vw;
    margin-top: 7vh;
    background-image: url("https://img0.liveinternet.ru/images/attach/c/10/110/975/110975804_1.jpg");
    background-repeat: no-repeat;
    z-index: 2;
    color: white;
}
#middle_image:after {
    background: rgba(39, 138, 184, 0.8);
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 3.8vw;
    bottom: 1.8vh;
}
#middle_image_text {
    z-index: 2;
    text-align: center;
    font-size: 2.5vh;
    margin-left: 6vw;
    margin-top: 15vh;
    padding: 0;
    height: 1000px;
}
#signature {
    font-family: "Brush Script MT", serif;
    font-size: 5vh;
    font-weight: lighter;
    margin-top: 3vh;
}
#features {
    margin-top: 5vh;
    font-weight: normal;
}
.middle_icons {
    height: 6vh;
}
.middle_icon_row {
    margin-top: 5vh;
}
.middle_icon_header_row {
    margin-top: 3vh;
    font-size: 2.5vh;
    font-weight: 500;
}
.middle_icon_description_row {
    margin-top: 3vh;
}
#low_line {
    margin-top: 10vh;
    margin-bottom: 6vh;
}
.faq {
    border: 1px solid grey;
    border-radius: 1vh;
    padding: 3vh;
}
.faq_question {
    font-weight: 700;
    padding: 3vh;
    margin-bottom: 3vh;
}
.faq_answer {
    font-weight: normal;
    padding: 5vh;
}
.table {
    border-radius: 1vh;
}
tr {
    height: 15vh;
}
#low_row {
    padding-top: 5vh;
    margin-top: 7vh;
    background-color: rgb(246, 248, 250);
}
#low_icon {
    height: 4vh;
}
.low_headers {
    font-weight: 500;
    font-size: 2.5vh;
}
#lowest_row {
    background-color: rgb(246, 248, 250);
    margin-top: 0;
    height: 30vh;
}