*{
    padding: 0;
    margin: 0;
    color: white;
}
.grid{
    height: 655px;
    grid-auto-flow: column;
    background-image: url(https://kazakh-tv.kz/upload/anounces/big_e0f393fa0d3f13185be5cee08a788205.jpg);
    background-size: 100% 655px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
}
.color{
    background-color: #124559;
    border: 3px solid #124559;
}
.box{
    border: 3px solid #124559;
}
.part1{
    grid-row-start: 1;
    grid-row-end: end;
}
.part2{
    grid-row-start: 1;
    grid-row-end: end;
}
.part3{
    grid-column-start: 3;
    grid-column-end: 9;
}
.part5{
    grid-column-start: 4;
    grid-column-end: 7;
}
.part6{
    grid-column-start: 7;
    grid-column-end: 9;
}
.part7{
    grid-column-start: 3;
    grid-column-end: 4;
}
.part8{
    grid-column-start: 4;
    grid-column-end: 5;
}
.part9{
    grid-column-start: 5;
    grid-column-end: 6;
}
.part10{
    grid-column-start: 6;
    grid-column-end: 9;
}
.part11{
    grid-column-start: 3;
    grid-column-end: 4;
}
.part12{
    grid-column-start: 4;
    grid-column-end: 5;
}
.part13{
    grid-column-start: 5;
    grid-column-end: 6;
}
.part14{
    grid-column-start: 6;
    grid-column-end: 8;
}
.part15{
    grid-column-start: 8;
    grid-column-end: 9;
}
.part16{
    grid-column-start: 3;
    grid-column-end: 4;
}
.part17{
    grid-column-start: 4;
    grid-column-end: 5;
}
.part18{
    grid-column-start: 5;
    grid-column-end: 6;
}
.part19{
    grid-column-start: 6;
    grid-column-end: 9;
}
.part20{
    grid-column-start: 3;
    grid-column-end: 6;
}
.part21{
    grid-column-start: 6;
    grid-column-end: 7;
}
.part23{
    grid-column-start: 7;
    grid-column-end: 9;
}
.part24{
    grid-row-start: 1;
    grid-row-end: end;
}
.part25{
    grid-row-start: 1;
    grid-row-end: end;
}
.boxh{
    margin-top: 75px;
}