.container
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 5px;
}
.empty1{
    grid-column-start: 2;
    grid-column-end: 18;

}
.empty2{
    grid-column-start: 3;
    grid-column-end: 13;

}
.empty3{
    grid-column-start: 1;
    grid-column-end: 19;

}
.empty4{
    grid-column-start: 1;
    grid-column-end: 4;

}
.empty5{
    grid-column-start: 18;


}
.container div
{
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 30px;
    color: white;
    font-family: Calibri;
    font-weight: bold;
}
.some10
{
    background-color: #3ab54a;
}
.some6
{
    background-color: #a67c52;
}
.some8
{
    background-color: #d9e021;
}
.some2
{
    background-color: #29aae3;
}
.some4
{
    background-color: #f9931e;
}
.some3
{
    background-color: #f15a25;
}
.some7
{
    background-color: #c69c6c;
}
.some5
{
    background-color: #fdad3d;
}
.some1
{
    background-color: #01a89e;
}
.some9
{
    background-color: #8cc63e;
}