* {
    box-sizing: border-box;
    font-family: calibri;
}

h1,
.login,
.account,
.contact {
    width: 80%;
    margin: 0 auto;
}

body {
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,
.login,
.account,
.contact {
    margin: 0;
    width: 80%;
}

body {
    display: grid;
    grid-template-columns: 80%;
    align-content: center;
    align-items: stretch;
}
body {
    grid-template-columns: repeat(2, minmax(150px, 30%));
}
h1,
.login {
    grid-column-end: span 2;
    width: auto;
}
.login > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}
.login > div.actions {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}
.account {
    border-right: 1px #dee8ed;
    padding: 0 10px 0 0;
    align-self: end;
    width: auto;
}
.contact {
    padding: 0 0 0 10px;
    width: auto;
}
input[type="submit"] {
    grid-column: 2;
}

h1 {
    background-color:#c8dde7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.4;
}

.login {
    background-color:#dee8ed;
    border: 1px #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.login > div {
    padding: 5px 0;
}

input[type="submit"] {
    margin-right: 10px;
    text-align: 10px;
    border: 1px #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #3185ab;
    font-size: 110%;
}

input[type="text"],
input[type="password"] {
    border: 1px #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 110%;
    width: 100%;
}

.actions a {
    font-size: 80%;
}