.color{
    color:white;
    background-color: #29364a;
    width: 100%;
    text-align: center;

}

.bg{
    background-image: url("https://s.yimg.com/uu/api/res/1.2/xkCklyl12cHRaKtvMrcCrA--~B/aD03Mjc7dz05MDA7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en-US/homerun/instyle_846/b5ed68d6edd79ca1123d09db0a2da411");
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 35px;
    background-repeat: no-repeat;

    background-position: center;
    color: #404854;
}

.sys{
    text-align: center;
    color: #404854;
}

.ap{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.ap>div{
    margin-top: -400px;
    margin-left: 550px;
}
.img{
    width: 100%;
    margin-top:100px;
    height: 500px;
}
.ab{
    text-align: center;
    margin-top: 100px;
    width: 100%;
    color:#404854 ;

}
.end{
    color: limegreen;
    background-color: #c1c1c1;
    height: 200px;
    text-align: center;
}
.want{
    padding-left: -350px;
}
.aaa{
    display: flex;
    flex-direction:row;
}
.aaa > div {
    margin: 10px;
    margin-right:150px;
}
.flex{
    color: rgba(175,175,175,0.93);
}
.box {
    display:flex ;
    flex-wrap: wrap;
    border: 1px solid white;
    justify-content:space-evenly;
    align-content: center;
    flex-direction: row;
    margin: 3px;
    position: relative;
}
