.wrapper{
    position: absolute; right:0; left:0; top: 0; bottom: 0;
}
.img{
    background-color: #c8dde7;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    animation: img 15s ease;
}

.meter {
    height: 30px;
    position: relative;
    background: black;
    overflow: hidden;
    width: 62%;
    border-radius: 20px;
    opacity: 0.8;
    position: absolute;top: 530px;left: 240px;
}

.meter span {
    display: block;
    height: 20px;
    margin-top: 5px;
    border-radius: 15px;
}

.progress {
    background-color: khaki;
    animation: progressBar 10s ease-in-out;
    animation-fill-mode:both;
    animation-duration:  infinite;
}

@keyframes progressBar {
    0% { width: 0; }
    50% {width: 50%; background-color:green ;}
    75% {width: 75%; background-color: blue;}
    100% { width: 100%; }
}